* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #1f2937;
    min-height: 100vh;
}

header {
    height: 70px;
    background: #111827;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

header button {
    background: #2563eb;
    color: white;
    border: none;

    padding: 11px 20px;
    border-radius: 6px;

    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #6b7280;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons button {
    padding: 14px 28px;

    border: none;
    border-radius: 7px;

    background: #2563eb;
    color: white;

    font-size: 16px;
    cursor: pointer;
}

.buttons button:hover,
header button:hover {
    background: #1d4ed8;
}

footer {
    text-align: center;
    padding: 20px;
    color: #6b7280;
}